@import '../../styles/variables.scss';

.Button {
    font-size: $font-small;
    padding: $space-small;

    border: 1px solid;
    border-radius: 5px;
    color: $color-text-primary-contrast;
    font-weight: bold;

    &--secondary,
    &--tertiary {
        background-color: transparent;
        color: $color-text-primary;
        font-weight: inherit;
    }
    &--primary {
        background-color: $color-primary;
        border-color: $color-border;
        &.Button--positive {
            background-color: $color-positive;
            border-color: $color-positive;
        }
        &.Button--negative {
            background-color: $color-negative;
            border-color: $color-negative;
        }
    }

    &--secondary {
        border-color: $color-border;
        &.Button--positive {
            border-color: $color-positive;
            color: $color-positive;
            font-weight: bold;
        }
        &.Button--negative {
            border-color: $color-negative;
            color: $color-negative;
            font-weight: bold;
        }
    }

    &--tertiary {
        border: 0;
        &.Button--positive {
            color: $color-positive;
        }
        &.Button--negative {
            color: $color-negative;
        }
    }

    &:hover {
        cursor: pointer;
    }
}
