@import '../../styles/variables';

.TopBar {
    background-color: $color-background;
    border-bottom: 1px solid $color-border;
    padding: $space-medium $space-large;
    font-size: $font-medium;
    display: flex;
    font-weight: 500;

    @media only screen and (max-width: 480px) {
        display: block;
    }

    &--elevated {
        box-shadow: 0px 1px 5px $color-shadow;
    }

    &_Title {
        &--scramblr {
            display: none;
        }
        @media only screen and (min-width: 480px) {
            display: none;
            &--scramblr {
                display: block;
            }
        }
    }

    .TopBar_Button_Open-Menu {
        padding: 0;
        @media only screen and (min-width: 480px) {
            display: none;
        }
    }

    &_Title {
        margin-left: $space-large;
    }

    i.material-icons {
        font-size: $font-medium;
    }

    &_Links {
        display: flex;

        @media only screen and (max-width: 480px) {
            display: none;
            margin-top: $space-small;

            &--show {
                display: block;
            }
        }

        &_Item {
            margin-left: $space-large;
            color: $color-secondary;

            @media only screen and (max-width: 480px) {
                padding: $space-medium;
            }

            &--active {
                color: $color-text-primary;
            }
        }
    }
}
