$color-gray: #bdbdbd;
$color-light-gray: #e0e0e0;

$color-shadow: $color-light-gray;

$color-text-primary: #212121;
$color-text-primary-contrast: white;

$color-background: white;
$color-background-secondary: $color-light-gray;

$color-primary: #0d47a1;
$color-primary-contrast: white;
$color-secondary: #757575;
$color-positive: #4caf50;
$color-negative: #f44336;
$color-warning: #ff9800;
$color-border: $color-light-gray;
$color-yellow: #fdd835;

$space-xxsmall: 5px;
$space-xsmall: 8px;
$space-small: 12px;
$space-medium: 16px;
$space-large: 24px;
$space-xlarge: 32px;
$space-xxlarge: 48px;

$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;

$border-radius: 5px;

$breakpoint-small: 480px;
