@import './variables';
@import './reset';

body {
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-text-primary;
}

a {
    color: inherit;
    text-decoration: none;
}

code {
    font-family: $font-family;
}

input,
textarea {
    font-family: $font-family;
    &::placeholder {
        color: $color-text-secondary;
        font-family: $font-family;
    }
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.bold {
    font-weight: bold !important;
}

.height-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.text-error {
    color: red;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}
