@import '../../styles/variables';

.Card {
    position: relative;
    padding: $space-large;
    border: 1px solid $color-border;
    border-radius: $border-radius;

    &_Actions {
        &_Button_Open {
            position: absolute;
            top: 0;
            right: 0;
            i.material-icons {
                color: $color-secondary;
            }
        }

        &_Container {
            position: absolute;
            top: $space-xlarge + $space-small / 2;
            right: $space-medium;
            border: 1px solid $color-border;
            background-color: $color-background;
            border-radius: $border-radius;
            overflow: hidden;

            @media only screen and (max-width: $breakpoint-small) {
                border-radius: 0;
                text-align: center;
                top: inherit;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
            }

            ul {
                &:first-child {
                    padding-top: $space-small;
                }
                &:last-child {
                    padding-bottom: $space-small;
                }
                button {
                    vertical-align: middle;
                    font-size: 1rem;
                    width: 100%;
                    padding-left: $space-xlarge;
                    padding-right: $space-xlarge;
                    border-radius: 0;
                    text-transform: capitalize;

                    i {
                        font-size: 1.25rem;
                        margin-right: $space-medium;
                    }

                    &:hover {
                        background-color: $color-background-tertiary;
                    }
                }
            }
        }
    }
}
