@import '../../styles/index.scss';

.TextField {
    box-sizing: border-box;

    padding: $space-medium;
    background-color: $color-background;
    border-radius: $border-radius;
    border: $border-size solid;
    border-color: $color-border;

    color: $color-text-primary;
    font-size: $font-medium;

    &--error {
        border-color: $color-negative;
    }

    &::placeholder {
        text-transform: capitalize;
    }

    &:hover {
        border-color: $color-secondary;
    }

    &:focus {
        border-color: $color-primary;
    }
}
