@import '../../styles/index.scss';

.TagsPicker {
    width: 100%;

    &_Input {
        display: flex;
        padding: $space-small;
        border: $border-size solid $color-border;
        flex-wrap: wrap;
        border-radius: $border-radius;

        &--focused {
            border-color: $color-primary;
        }

        .TextField {
            flex: 1;
            padding: 0;
            border: 0;
        }

        .TagChip {
            margin-right: $space-xxsmall;
        }
    }
    &_PickedTags {
        margin-right: $space-xsmall;
    }
    &_Results_List {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid $color-border;
        border-radius: 0 0 $border-radius;
        box-shadow: 0 2px 2px -2px $color-secondary;
        margin-top: $space-xxsmall;

        &_Item {
            &:first-child {
                background-color: $color-background-tertiary;
            }
            a {
                cursor: pointer;
                padding: $space-medium;
                display: block;

                &:hover {
                    background-color: $color-background-tertiary;
                }
            }
            &--no-results {
                padding: $space-medium;
                display: block;
            }
        }
    }
}
